.idea/.name
.idea/circulartimer.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/xcode.xml
CircularTimerDemo.xcodeproj/xcuserdata/alexandertkachenko.xcuserdatad/xcschemes/CircularTimerDemo.xcscheme
